<section class="categories spad" id="categories">
    <app-title title="Course Categories" subtitle="Popular Topics To Learn"></app-title>

    <div class="category-container">
        <div class="category-card" *ngFor="let category of categories">
            <div class="card-icon">
                <i class="bx {{ category.icon }}"></i>
            </div>
            <div>
                <h3 class="card-title">
                    <a href="#">
                        {{ category.name }}
                    </a>
                </h3>
                <!-- <span>{{ this.couseId }} Courses</span> -->
            </div>
        </div>
    </div>
</section>
