<section class="about spad" id="about">
    <div class="about-container">
        <div class="about-info">
            <div class="section-title">
                <h3>Who We Are</h3>
                <h2>We Offer The Best Carrier</h2>
            </div>

            <p>
                We cook the best food in the entire city, with excellent customer service, the best meals and at
                the best price, visit us. We cook the best food in the entire city, with excellent customer
                service, the best meals and at the best price, visit us.
            </p>

            <app-button name="Explore More"></app-button>
        </div>

        <div class="about-image">
            <img src="./assets/img/about.jpg" alt="image">
        </div>
    </div>
</section>
