<section class="contact spad" id="contact">
    <div class="contact-container">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>Reach out to us today via any of the given information.</p>

            <form class="contact-form">
                <app-input label="Name"></app-input>

                <app-input label="E-mail" type="email"></app-input>

                <app-textarea></app-textarea>
            </form>

            <app-button name="Send Message"></app-button>
        </div>
    </div>
</section>
