<footer class="footer pt-16">
    <div class="footer-container">
        <div class="footer-content">
            <app-logo></app-logo>

            <footer-title>Subscribe to our newsletter <br> to stay update</footer-title>

            <footer-subscribe></footer-subscribe>
        </div>

        <div class="footer-content">
            <footer-title>Our Address</footer-title>

            <footer-info></footer-info>
        </div>

        <div class="footer-content">
            <footer-title>Menu</footer-title>

            <footer-menu></footer-menu>
        </div>

        <div class="footer-content">
            <footer-title>Social Media</footer-title>

            <footer-social></footer-social>
        </div>
    </div>

    <footer-copy></footer-copy>
</footer>
